/* NO SELECT + HIGHLIGHT COLOR
* {
  user-select: none;
}
*::selection {
  background: none;
}
*::-moz-selection {
  background: none;
}

------------------------ */

* {
    box-sizing: border-box;
}

.section-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 0px;
}


/* ---- grid ---- */

.grid {
    background: #ef7753;
    margin: 0 auto;
    max-width: 100%;
}

/* clear fix
.grid:after {
  content: '';
  display: block;
  clear: both;
} */

/* ---- .element-item ---- */

.grid-item {
    width: calc(25% - 24px);
    margin: 0 12px 30px !important;
}

.f-cat {
    border-radius: 8px;
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.4s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.f-cat:hover {
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05) !important; */
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: transform 0.2s 0s ease-in;
    -moz-transition: transform 0.2s 0s ease-in;
    -o-transition: transform 0.2s 0s ease-in;
    transition: transform 0.2s 0s ease-in;
}

.profile-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    gap: 5px;
}

.profile-details p {
    padding-bottom: 10px;
}

.job-title {
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #696969;
    line-height: 1.4em;
    padding: 0px 0px 10px 0px;
    /*cursor: default;*/

}

.department {
    color: #696969;
    font-size: 13px;
    font-weight: 500;
    padding: 0px 0px 15px 0px;
}

.chips {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 !important;
    transition: all 0.2s;
    /*transform: scale(0.98);*/
    will-change: transform;
    user-select: none;
    cursor: grab;
}

.chips.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    /*transform: scale(0.99);*/
}

.chips::-webkit-scrollbar {
    display: none;
}

/* .gridElementTechnologyDomain {
    width: 100%;
    padding: 0px 0px 20px 40px;
}

.label-card {
    color: #2d2d2d;
    font-size: 14px;
    margin-right: 16px;
    padding-bottom: 10px !important;
}

.chip-technology {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    height: 28px;
}

.chip-technology li {
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    color: #000000;
    background-color: #e5f5f7;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    padding: 6px 12px 8px;
    margin-right: 8px;
    display: inline-block;
}

.chip-technology li:last-of-type {
    margin-right: 40px;
} */

.chip-domain {
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    color: #000;
    background-color: #000000;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    padding: 6px 12px 8px;
    margin: 10px auto 0px;
    display: inline-block;
}

/* .chip-domain li {
        font-size: 14px;
        font-weight: 500;
        line-height: 1em;
        color: #000000;
        background-color: #e5f5f7;
        position: relative;
        border-radius: 20px 20px 20px 20px;
        overflow: hidden;
        padding: 6px 12px 8px;
        margin-right: 8px;
        display: inline-block;
    } */

/* .chip-domain li:last-of-type {
    margin-right: 40px;
}

.chips-gradient {
    position: absolute;
    right: 0;
    height: 28px;
    margin-top: -8px;
    width: 30px;
    text-align: right;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
} */

.btn-primary, .btn-primary:visited {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    background-color: rgba(0,0,0,0);
    padding: 4px 8px 4px 4px;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: rgba(0,0,0,1);
    color: #ec5629;
}

.icon {
    font-weight: 300;
}

.icons {
    padding: 0px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
    text-align: center;
    margin: 0 auto;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: 10px;
}

.twitter::before {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e094";
    font-size: 16px;
    display: inline-block;
    position: relative;
    background: #000000;
    border-radius: 40px;
    width: 32px;
    height: 32px;
    color: #ec5629;
    text-align: center;
    padding-left: 8px;
    padding-top: 5px;
}

.cat-twitter {
    position: relative;
    width: 32px;
    /* margin-right: 12px; */
}

.linkedin::before {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e09d";
    font-size: 16px;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    color: #000000;
    text-align: center;
    padding-right: 0px;
    padding-top: 5px;
}


.cat-linkedin {
    position: relative;
    width: 32px;
    background: rgba(255,255,255,0.25);
    /*border: 1px solid #000;*/
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
}

.cat-linkedin:hover, .cat-linkedin:active, .cat-linkedin:focus {
    background-color: rgba(255,255,255,0.5);
}

.bio::before {
    font-family: "ETmodules";
    font-weight: 600;
    content: "\4c";
    font-size: 20px;
    display: inline-block;
    position: relative;
    background: #000000;
    border-radius: 40px;
    width: 32px;
    height: 32px;
    color: #ec5629;
    text-align: center;
    padding: 1px 1px 1px 0px;
}

/*.cat-bio {
    position: relative;
    /*width: auto;*/
    /* margin-right: 12px;
    cursor: pointer;
}*/

.cat-location {
    position: relative;
    width: 32px;
    margin-left: 12px;
}

.location-label {
    display: none;
}

.filter-cat-results .f-cat {
    opacity: 0;
    display: none;
}

.filter-cat-results .f-cat.active {
    opacity: 1;
    display: block;
    -webkit-animation: fadeIn 0.65s ease forwards;
    animation: fadeIn 0.65s ease forwards;
    max-height: 353px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.city-photo-container {
    width: 130px;
    height:0; 
    padding-top: 130px;
    position:relative;
    margin: 0 auto 10px auto;
}

.city-photo {
    border-radius: 100px;
    width: 130px;
    border: 3px solid #002e67;
    margin: 0 auto 10px auto;
    position:absolute; 
    background-color: #e2e9ea;
    top:0; 
    left:0;
}

.flag {
    width: 32px;
    position: relative;
}

.f-cat h3 {
    display: none;
    /*font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: #696969!important;
    line-height: 1.7em;
    padding: 16px 16px 0px 16px;
    text-align:left;*/
}

.f-cat h4 {
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    line-height: 1.4em;
    padding: 0px;
    /*cursor: default;*/
}

.f-cat h5 {
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 13px;
    line-height: 1.5em;
    text-decoration: underline;
    padding: 0px;
}

.f-cat h6 {
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #000000;
    line-height: 1.4em;
    padding: 0px;
    /*cursor: default;*/
}

.region {
    float: left;
    width: auto;
    margin-right: 20px;
    text-align: left;
}

.country {
    float: left;
    width: auto;
    margin-right: 20px;
    text-align: left;
}

.domain {
    display: none;
    /*float:left;
  width:auto;
  margin-right:20px;
  text-align:left;*/
}

.language {
    float: left;
    width: auto;
    margin-right: 20px;
    text-align: left;
}

.sortby {
    float: left;
    width: auto;
    text-align: left;
}

.domains {
    display: none;
}

.sort {
    position: relative;
    margin-top: 12px;
    background-color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    padding: 8px 16px 8px 16px;
    font-size: 15px;
}

/* Modal */

.tingle-modal {
    backdrop-filter: blur(5px);
}

.tingle-modal--visible {
    z-index: 99999;
}

.tingle-modal__close {
    color: #fff;
}

.tingle-modal-box {
    border-radius: 4px;
    background: #ef7753;
    width: 640px;
}

.info-modal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tingle-modal-box__footer {
    display: none;
    /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #00D7A6; */
}

.tingle-modal img {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tingle-modal p {
    color: #000;
    line-height: 1.5em;
}

.tingle-modal h1 {
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    font-size: 1.5em;
    margin: 0px auto 15px;
}

.tingle-modal h2 {
    font-weight: 500;
    font-size: 1.15em;
}

.tingle-modal h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
}

.tingle-modal .company-link {
    font-size: 14px;
    line-height: 1.5em;
    color: #000;
    text-decoration: underline;
}

.tingle-modal .company-link:hover {
    color: #000;
    text-decoration: underline;
}

/* .tingle-modal .company-link:after {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e02c";
    font-size: 20px;
    display: inline-block;
    position: relative;
    width: 32px;
    color: #000;
    text-align: center;
    margin-left: 5px;
} */

.details-modal,
.social-modal,
.tags-modal {
    display: flex;
}

.details-modal {
    margin-top: 20px;
}

.social-modal {
    margin-right: 10px;
}

.social-modal p.domain {
    display: none;
    /* background-color: #E37B6B;
  border-radius: 16px;
  padding: 5px 15px;
  font-size: .9em;
  margin-right:0px; */
}

.tags-modal p.location {
    display: none;
    /* display: flex;
    font-size: .9em;
    flex-direction: row;
    padding-top: 5px; */
}

.tags-modal .location:before {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e01d";
    font-size: 28px;
    line-height: 0.8em;
    color: #000;
    text-align: center;
    margin-right: 3px;
}

.twitter-link::before {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e094";
    font-size: 16px;
    display: inline-block;
    position: relative;
    /* background: #00aced; */
    border: solid 1px #000;
    border-radius: 40px;
    width: 32px;
    height: 32px;
    color: #000;
    text-align: center;
    padding-left: 1px;
    padding-top: 5px;
}

.twitter-link {
    position: relative;
    width: 32px;
    margin-right: 12px;
}

.linkedin-link::before {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e09d";
    font-size: 16px;
    display: inline-block;
    position: relative;
    /* background: #007bb6; */
    border: solid 1px #000;
    border-radius: 40px;
    width: 32px;
    height: 32px;
    color: #000;
    text-align: center;
    padding-right: 0px;
    padding-top: 4px;
}

.linkedin-link {
    position: relative;
    width: 32px;
    margin-right: 12px;
}

.tingle-modal .bio-modal p {
    max-height: 110px;
    overflow: auto;
}

.tingle-modal .bio-modal p::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.tingle-modal .bio-modal p::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.tingle-modal .bio-modal p::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.3);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid transparent;
    /* creates padding around scroll thumb */
}

.tingle-modal .bio-modal p {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: #ec5629 transparent;
    /* scroll thumb and track */
}

/* Contact Form */

.et_pb_contact_form_0.et_pb_contact_form_container .input,
.et_pb_contact_form_0.et_pb_contact_form_container .input[type="checkbox"]+label i,
.et_pb_contact_form_0.et_pb_contact_form_container .input[type="radio"]+label i {
    border-radius: 6px !important;
}

/* .et_pb_row_3 {
    width: 70%;
} */

@media (max-width: 767px) {
    /* .grid-sizer {
        width: 100%;
        margin: 0 auto !important;
    } */

    .grid-item {
        width: 90%;
        margin: 0 0 30px !important;
    }

    .city-photo {
        width: 150px;
        /* margin-bottom: 30px; */
        border: 2px solid #000000;
    }

    .f-cat {
        width: 100%;
        padding: 30px 20px;
    }

    .f-cat:hover {
        /* box-shadow: 0 0 30px 0 rgba(255,255,255,0.2)!important; */
        transform: none;
        transition: none;
    }

    .f-cat h6 {
        font-size: 17px;
    }

    .f-cat h4 {
        font-size: 15px;
    }

    .f-cat h5 {
        font-size: 14px;
    }

    .icons {
        padding-top: 0px;
        /* display: flex; */
        flex-direction: row;
        text-align: center;
    }

    .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        /* padding-right: 10px; */
    }

    /* .bio::before {
        font-family: "ETmodules";
        font-weight: 400;
        content: "\4c";
        font-size: 30px;
        display: inline-block;
        position: relative;
        background: #000000;
        border-radius: 40px;
        width: 45px;
        height: 45px;
        margin-right: 0;
        color: #000;
        text-align: center;
        padding: 1px 1px 1px 0px;
    }

    .cat-bio {
        position: relative;
        width: 45px;
        margin-right: 15px;
    }

    .cat-location {
        position: relative;
        width: 45px;
        margin-left: 15px;
    }

    .twitter::before {
        font-family: "ETmodules";
        font-weight: 400;
        content: "\e094";
        font-size: 20px;
        display: inline-block;
        position: relative;
        background: #00aced;
        border-radius: 40px;
        width: 45px;
        height: 45px;
        color: #fff;
        text-align: center;
        padding-left: 12px;
        padding-top: 8px;
    }

    .cat-twitter {
        position: relative;
        width: 45px;
        margin-right: 15px;
    }

    .linkedin::before {
        font-family: "ETmodules";
        font-weight: 400;
        content: "\e09d";
        font-size: 20px;
        display: inline-block;
        position: relative;
        background: #007bb6;
        border-radius: 40px;
        width: 45px;
        height: 45px;
        margin-right: 0;
        color: #fff;
        text-align: center;
        padding-right: 0px;
        padding-top: 8px;
    }

    .cat-linkedin {
        position: relative;
        width: 45px;
    } */

    .flag {
        width: 40px;
        top: 4px;
    }

    /* .et_pb_code_1.et_pb_module {
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 30px;
    }*/

    /* .et_pb_row_3 {
        width: 90%;
    } */

    .et_pb_section.et_pb_section_4.et_section_regular {
        padding: 0 0 140px 0;
    }

    /*.et_pb_row_2.et_pb_row {
    padding-bottom: 110px;
}*/

    /* Modal */

    .tingle-modal__close {
        color: #000;
        font-weight: 400;
        line-height: 1em;
    }

    .tingle-modal__close {
        top: 5vw;
        right: 5vw;
        z-index: 99999;
        background: #000000;
        line-height: 0.9em;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1) !important;
    }

    .tingle-modal-box {
        width: 90%;
    }

    .tingle-modal-box__content {
        padding: 2rem 2rem;
    }

    .credits-modal {
        width: 100%;
    }

    .tingle-modal img {
        display: none;
    }

    .details-modal {
        display: block;
    }

    .social-modal p.domain {
        display: none;
        /* width: auto;
    background-color: #E37B6B;
    border-radius: 16px;
    padding: 5px 15px;
    font-size: .9em;
    margin-right:0px;
    margin-bottom:0px; */
    }

    .tags-modal {
        display: none;
        /* display: inline-block; */
        padding: 20px 0 0 0;
    }

    .tags-modal p.location {
        display: none;
        /*display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-right: 20px;
    padding-top: 0px; */
    }

    .tags-modal .location:before {
        width: 32px;
        margin-right: 10px;
    }

    .tingle-modal h1 {
        font-size: 20px;
    }

    .tingle-modal h2 {
        font-size: 16px;
    }

    .company {
        font-size: 16px;
        line-height: 0.8em;
    }

    .tingle-modal .bio-modal p {
        max-height: 250px;
        overflow: auto;
    }
}

@media only screen and (max-width: 1140px) and (min-width: 426px) {
    .et_pb_code_inner {
        padding: 0 2%;
    }

    /* .domain {
        margin-bottom: 20px;
    } */

    .filtering {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 981px) {
    /*
.col-md-3 {
    width: 100%!important;
} 

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: none!important;
	}
*/

    .et_pb_section.et_pb_section_4.et_section_regular {
        padding: 0 0 140px 0;
    }

    .et_pb_row_2.et_pb_row {
        padding-bottom: 100px;
    }
}

/* Search & Filtering */

.category-badge {
    width: auto;
    height: 20px;
    transform: scale(1.2) translate(8%, 0%);
    margin-bottom: 20px;
}

/* Products record */

.products-record {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
}

.products-label {
    display: flex;
    align-items: flex-end;
    font-size: 15px;
}

#filteredCompanies {
    font-size: 2.2rem;
    line-height: 1em;
}


/* Toggle Open Close Filters
  
 #mobileToggleFilters {
  display: none;
}
  
.showFilters {
	display:none;
} /*

.showFilters {		
  	display: flex;
    align-items: flex-end;
  	width: 80%;
  	margin: 0 auto;
}
  
.filtersBar {
  	width: 100%!important;
  	left: 0px!important;
}
  
/* Toggle Open Close Filters */

#mobileToggleFilters {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15px 0px;
    cursor: pointer;
}

.filters-container {
    transition: height .5s ease;
    overflow: hidden;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto 15px;
    /* padding-top: 16px;
    border-top: 1px solid #000000; */
}

.filters-container:not(.active) {
    display: none;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Filter list */

.filter-by {
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 600;
    color: #4c4c4c;
    text-transform: uppercase;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #aaa;
    width: 100%;
}


/* Custom select */

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #fafafa;
    background-image: url(https://www.fiware.org/fiware-summit/rabat-2025/assets/images/ico/arrow-down.svg);
    background-position: 97%;
    background-repeat: no-repeat;
    background-size: 24px;
}

select::-ms-expand {
    display: none;
}

.filter-element select {
    background-color: rgba(255,255,255,0);
    border-radius: 30px;
    border: 1px solid #000000;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    padding: 8px 16px;
    font-size: 15px;
    width: 100%;
    margin: 10px 0 10px 0;
}

.filter-element select:active,
.filter-element select:focus {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ec5629;
    box-shadow: none;
    background-image: url(https://www.fiware.org/fiware-summit/rabat-2025/assets/images/ico/arrow-down-orange.svg);
}

.dropdown-last {
    margin-bottom: 15px !important;
}

/* Custom Button */

.filter-element button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.filter-element button:hover {
    background: #d2eef1;
}

.filter-element button.active {
    background: #000000;
    color: #fff !important;
}

#orderByYear {
    color: #000000;
}

#orderByName {
    color: #000000;
}

#orderByCountry {
    color: #000000;
}

#orderByDomain {
    color: #000000;
}


/* Custom Checkbox */

.filter-element label {
    font-size: 14px;
    color: #000000;
}

.filters-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#member {
    margin: 10px 10px 10px 0px;
}

input[type="checkbox"] {
    line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"]+label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    vertical-align: -26%;
    height: 1.4em;
    width: 1.4em;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 2px;
}

input[type="checkbox"]:checked+label::after {
    content: "";
    display: inline-block;
    position: absolute;
    vertical-align: -20%;
    height: 0.6em;
    width: 0.9em;
    border: #000000 solid;
    border-width: 3px 3px 0px 0px;
    top: 3px;
    left: 5px;
    transform: rotateZ(130deg);
}

.sort-by {
    font-size: 13px !important;
    font-weight: 600;
    color: #4c4c4c !important;
    text-transform: uppercase;
    padding-right: 10px;
}

.sort-buttons {
    display: flex;
    gap: 10px;
}

.sort-element {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: space-between;
    align-items: center;
}

.sort-element label {
    font-size: 14px;
    color: #000000;
}


/* Search */

.search-element {
    position: relative;
}

.resetInput {
    opacity: 0;
    background-image: url(https://www.fiware.org/wp-content/uploads/ico_clear_blue.png);
    background-repeat: no-repeat;
    pointer-events: none;
    position: absolute;
    top: 13px;
    right: 8px;
    width: 32px;
    height: 32px;
    transition: all 200ms;
}

.resetInput:hover {
    cursor: pointer;
}

.resetActive .resetInput {
    opacity: 1;
    pointer-events: all;
}

#searchInput {
    padding: 5px;
    max-width: unset !important;
    width: -webkit-fill-available;
    font-size: 16px;
}

input[type="search"] {
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000000;
    cursor: pointer;
    line-height: 1em;
    font-weight: 500;
    padding: 12px 16px 12px 50px !important;
    font-size: 15px;
    background-image: url(https://www.fiware.org/wp-content/uploads/ico_search.png);
    background-position: 4%;
    background-repeat: no-repeat;
}

input[type="search"]:active,
input[type="search"]:focus {
    border: 1px solid #000000;
    color: #000;
    box-shadow: none;
}

input[type="search"]::placeholder {
    color: #a9a9a9;
}

/* Icons */

#ico-sortby-alpha {
    margin-right: 8px;
}

#ico-sortby-year {
    margin-right: 8px;
}

#ico-filter-all {
    margin-left: 0.2rem;
    margin-right: 10px;
    font-size: 20px;
}

#ico-products {
    margin-right: 8px;
}

#ico-info {
    margin-right: 8px;
}

#ico-filtersbar {
    margin-right: 8px;
    color: #000000;
}

#ico-green {
    color: #000000;
}

#ico-blue {
    color: #000000;
}

/* –––––––––––––––– */


@media screen and (min-device-width: 481px) and (max-device-width: 980px) {

    /* .et_pb_sticky .et_pb_code_2 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
} */

    /* Card */

    .grid {
        width: 80%;
        margin: 0 auto;
    }

    .grid-item {
        width: 100%;
        padding: 0px;
    }

    /* .gridElementImageAndDetails {
        flex-direction: row;
        padding: 40px 20px 0px 20px;
    }

    .grid-item ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .grid-item ul::-webkit-scrollbar {
        display: none;
    }

    .gridElementTechnologyDomain {
        width: 100%;
        padding: 0px 0px 16px 20px;
    }

    .gridElementTextContainer {
        width: 90%;
        padding: 0px 20px;
    }

    .label-card {
        padding-bottom: 10px !important;
    }

    .chip-technology {
        margin-bottom: 8px;
    }

    .chip-domain li {
        display: inline-block;
    }

    .chip-technology li {
        display: inline-block;
    } */

    /* Search & Filtering */

    .showFilters {
        display: flex;
        align-items: flex-end;
        width: 80%;
        margin: 0 auto;
    }

    .filtersBar {
        width: 100% !important;
        left: 0px !important;
    }

    /* Toggle Open Close Filters */

    #mobileToggleFilters {
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
        padding: 15px 0px;
    }

    .filters-container {
        transition: height .5s ease;
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        padding-top: 16px;
        border-top: 1px solid #aaa;
    }

    .filters-container:not(.active) {
        display: none;
    }

    /* Filtering */

    .category-badge {
        margin-top: 20px;
    }

    .products-record {
        width: auto;
    }

    .filter-by {
        width: auto;
    }

    .filter-element select {
        width: 100%;
    }

    .filters-checkbox {
        display: flex;
        flex-direction: row;
    }

    #member {
        margin: 15px 15px 15px 0px;
    }

    #filter-last {
        width: 100%;
    }

    .sort-element {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        justify-content: space-evenly;
    }

    #orderByYear {
        margin-right: 12px;
    }

}



@media only screen and (max-width: 480px) {

    /* .et_pb_sticky .et_pb_code_2 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
} */

    /* Card */

    .grid {
        width: 90%;
        margin: 0 auto;
    }

    .grid-item {
        width: 100%;
        padding: 0px;
    }

    /* .grid-item ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .grid-item ul::-webkit-scrollbar {
        display: none;
    }

    .gridElementTechnologyDomain {
        width: 100%;
        padding: 0px 0px 16px 20px;
    }

    .chip-domain li {
        display: inline-block;
    }

    .chip-technology li {
        display: inline-block;
    }

    .gridElementLogo {
        padding: 30px 20px 20px;
    }

    .grid-item img {
    width: 140px;
    margin: 0px 0px 20px;
    }

    .gridElementTextContainer {
        width: 100%;
        padding: 0px 20px;
    }

    /* .name {
        font-size: 1.8rem;
        line-height: 1.3em;
        color: #000!important;
    }

    .excerpt {
        display: none;
    }

    .foot {
        padding: 0px 20px 30px 20px;
    }

    .details {
        width: 100%;
        justify-content: center;
        padding: 15px;
    }

    .label-card {
    margin-bottom: 8px;
} */

    /* Search & Filtering */

    .showFilters {
        display: flex;
        align-items: flex-end;
    }

    .filtersBar {
        width: 100% !important;
        left: 0px !important;
    }

    /* Toggle Open Close Filters */

    #mobileToggleFilters {
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
        padding: 15px 0px;
    }

    .filters-container {
        transition: height .5s ease;
        overflow: hidden;
        /* padding-top: 16px; */
        border-top: 1px solid #aaa;
    }

    .filters-container:not(.active) {
        display: none;
    }


    .dropdown-container {
        flex-direction: column;
        gap: 0px;
    }

    /* Search */

    input[type="search"] {
        background-position: 5%;
    }

    /* Filtering */

    .category-badge {
        margin-top: 20px;
    }

    .products-record {
        width: auto;
    }

    .filter-by {
        width: auto;
    }

    .filter-element select {
        width: 100%;
    }

    .filters-checkbox {
        display: flex;
        flex-direction: row;
    }

    .dropdown-label {
        display: none;
    }

    #member {
        margin: 15px 15px 15px 0px;
    }

    #filter-last {
        width: 100%;
    }

    .sort-element {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        justify-content: space-evenly;
    }

    #orderByYear {
        margin-right: 12px;
    }

}