* {
  box-sizing: border-box;
}

.cover-cta {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cover-image img {
  max-height: 55vh;
}

.cover-cta .details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #002e67;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.5em;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.cover-cta .details:hover {
  background: #002452;
}

.cover-cta .details:any-link {
  color: #fff !important;
}

.cover-cta .details-negative {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0);
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.5em;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.cover-cta .details-negative:hover,
.cover-cta .details-negative:focus {
  background: rgba(255, 255, 255, 1);
  color: #002E67 !important;
}

/* ---- Grid ---- */

.cat-grid {
  background: rgba(255, 255, 255, 0);
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cat-grid.single-item {
  margin: 20px auto 0 auto;
  justify-content: center;
}

/* ---- Item ---- */

.grid-item {
  width: calc(50% - 16px);
  margin: 0 8px 18px !important;
}

.grid-item.col-3 {
  width: calc(33.3% - 16px);
}

.f-cat {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
  transition: box-shadow 0.2s;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 30px 20px 15px 20px;
  background: #fff;
}

.f-cat.col-3 {
  padding: 0;
  gap: 0;
}

.f-cat:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.cat-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}

.cat-content.col-3 {
  gap: 0;
}

.cat-ico {
  width: 100%;
  max-width: 80px;
}

.city-photo {
  border-radius: 100px;
  width: 130px;
  border: 3px solid #002e67;
  margin: 0 auto 50px auto;
}

.cat-logo {
  width: auto;
  height: 20px;
  transform: scale(1.2) translate(8%, 0%);
}

.cat-name {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #002e67;
  line-height: 1.4em;
  padding: 0px 0px 5px 0px;
}

.cat-name.col-3 {
  padding: 10px 20px;
  background-color: #ebebeb;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 20px;
  display: flex;
  align-items: self-end;
  gap: 8px;
}
 
.cat-name.col-3.platinum-package {
  background-color: #002e67;
  color: #fff;
}
 
.cat-name.col-3.gold-package {
  background-color: #eec64f;
  color: #000;
}
 
.cat-name.col-3.associate-package {
  background-color: #5dc0cc;
  color: #000;
}
 
.cat-name.col-3.individual-package {
  background-color: #b1b2b4;
  color: #000;
}

.ico-type {
  font-size: 24px;
  font-weight: 400;
}

.cat-excerpt {
  min-height: 3em;
  /* padding: 10px 0 10px; */
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 500;
  color: #2d2d2d;
  text-align: left;
}

.cat-excerpt.col-3 {
  padding: 0 20px;
}

.cat-role {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  line-height: 1.4em;
  padding: 0px 0px 10px 0px;
}

.cat-details {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-left: -10px;
  font-size: 15px;
  color: #002e67;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.cat-details.col-3 {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cat-browse {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: #002e67;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}

.cat-details:hover,
.cat-browse:hover {
  color: #002452;
  background-color: #f3f3f3;
}

.icons {
  /* padding-top: 10px; */
  display: inline-flex;
  flex-direction: row;
  /* gap: 10px; */
  text-align: center;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 10px;
}

.browse::before {
  font-family: "ETmodules";
  font-weight: 400;
  content: "\e094";
  font-size: 16px;
  display: inline-block;
  position: relative;
  background: #00aced;
  border-radius: 40px;
  width: 32px;
  height: 32px;
  color: #fff;
  text-align: center;
  padding-left: 8px;
  padding-top: 5px;
}

.cat-twitter {
  position: relative;
  width: 32px;
  margin-right: 12px;
}

.linkedin::before {
  font-family: "ETmodules";
  font-weight: 400;
  content: "\e09d";
  font-size: 16px;
  display: inline-block;
  position: relative;
  background: #007bb6;
  border-radius: 40px;
  width: 32px;
  height: 32px;
  color: #fff;
  text-align: center;
  padding-right: 0px;
  padding-top: 5px;
}

.cat-linkedin {
  position: relative;
  width: 32px;
}

.bio::before {
  font-family: "ETmodules";
  font-weight: 500;
  content: "\4c";
  font-size: 20px;
  display: inline-block;
  position: relative;
  background: #404474;
  border-radius: 40px;
  width: 32px;
  height: 32px;
  color: #fff;
  text-align: center;
  padding: 1px 1px 1px 0px;
}

.cat-bio {
  position: relative;
  width: 32px;
  margin-right: 12px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Modal */

.tingle-modal {
  backdrop-filter: blur(5px);
  background: rgba(0, 46, 103, 0.6);
}

.tingle-modal--visible {
  z-index: 99999;
}

.tingle-modal__close {
  color: #fff;
}

.tingle-modal-box {
  border-radius: 4px;
  background: #fff;
  width: 720px;
}

.info-modal {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.tingle-modal-box__footer {
  display: none;
  /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #00D7A6; */
}

.credits-modal {
  display: flex;
  margin-bottom: 25px;
}

.tingle-modal img {
  vertical-align: middle;
  width: auto;
  /* height: 120px;
  border-radius: 100px;
  border: 2px solid #000;
  margin-right: 20px; */
}

.tingle-modal p {
  color: #2d2d2d;
  line-height: 1.5em;
}

.tingle-modal h1 {
  color: #002e67;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 2px solid #002e67;
  font-size: 2em;
  margin: 0px auto 15px;
}

.tingle-modal h1.platinum {
  transform: scaleX(109%) translate(0, -3rem);
  background-color: #002e67;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 1.5rem 3rem 1.4rem;
  border-bottom: none;
  font-size: 1.3em;
  margin: 0;
}

.tingle-modal h1.gold {
  transform: scaleX(109%) translate(0, -3rem);
  background-color: #eec64f;
  color: #000;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 1.5rem 3rem 1.4rem;
  border-bottom: none;
  font-size: 1.3em;
  margin: 0;
}

.tingle-modal h1.associate {
  transform: scaleX(109%) translate(0, -3rem);
  background-color: #5dc0cc;
  color: #000;
  font-weight: 600;
  border-radius: 4px 4px 0 0;
  padding: 1.5rem 3rem 1.4rem;
  border-bottom: none;
  font-size: 1.3em;
  margin: 0;
}

.tingle-modal h1.individual {
  transform: scaleX(109%) translate(0, -3rem);
  background-color: #b1b2b4;
  color: #000;
  font-weight: 600;
  text-align: center;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 1.5rem 3rem 1.4rem;
  border-bottom: none;
  font-size: 1.3em;
  margin: 0;
}

.tingle-modal h2 {
  font-weight: 500;
  font-size: 1.3em;
}

.content h2 {
  padding: 20px 0;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.tingle-modal h3 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
}

.program-services {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.program-services li {
  min-width: calc(50% - 20px);
  display: flex;
  align-items: center;
}

.program-services li:before {
  content: url("https://www.fiware.org/style/imgs/join-us/icons/icon-check.svg");
  height: 26px;
  margin-right: 5px;
}

.cat-ico-modal {
  max-width: 80px;
}

.cat-badge-modal {
  width: 80%;
  height: 20px;
  transform: scale(1.2) translate(8%, 0%);
}

.company-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background-color: #002e67;
  border-radius: 4px;
  padding: 10px 15px 12px 15px;
}

.company-link:hover,
.company-link:focus {
  color: #fff;
  background-color: #002452;
}

/* .company-link:after {
  font-family: "ETmodules";
  font-weight: 400;
  content: "\e02c";
  font-size: 20px;
  display: inline-block;
  position: relative;
  width: 32px;
  color: #000;
  text-align: center;
  margin-left: 5px;
} */

.details-modal,
.social-modal,
.tags-modal {
  display: flex;
}

.details-modal {
  margin-top: 30px;
}

.social-modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-modal p.browse {
  display: none;
  /* background-color: #E37B6B;
  border-radius: 16px;
  padding: 5px 15px;
  font-size: .9em;
  margin-right:0px; */
}

.browse-all {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: #002e67;
  cursor: pointer;
}

.tingle-modal .bio-modal p {
  max-height: 254px;
  overflow: auto;
  font-size: 15px;
  line-height: 1.6em;
  color: #2d2d2d;
  padding-right: 15px;
}

.tingle-modal .bio-modal p::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

.tingle-modal .bio-modal p::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

.tingle-modal .bio-modal p::-webkit-scrollbar-thumb {
  background-color: #e5f5f7;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid transparent;
  /* creates padding around scroll thumb */
}

.tingle-modal .bio-modal p {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #e5f5f7 transparent;
  /* scroll thumb and track */
}

.featured {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.featured.center {
  justify-content: center;
}

#ico-featured {
  color: #002E67;
}

/* Carousel */

.item {
  /* cursor: pointer;
  padding: 10px 0; */
}

.outer-slider {
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
}

.outer-slider .item {
  display: flex;
  justify-content: left;
  align-items: left;
  box-shadow: 0 0 10px 1px #ccc;
  height: 100px;
  margin: 10px;
}

.featured-carousel .owl-stage {
  display: flex;
  gap: 16px;
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  padding: 10px;
  cursor: grab;
}

/* .owl-stage {
  display: flex;
  flex-direction: row;
} */

.owl-theme .owl-nav {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
  border: 1px solid #f0f0f0;
  transition: box-shadow 0.2s;
  border-radius: 4px;
  padding: 20px 20px 10px;
  background: #fff;
  cursor: grab;
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.card-carousel {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
  transition: box-shadow 0.2s;
  border-radius: 4px;
  padding: 0px;
  background: #fff;
}

.card-carousel:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.card-story {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
  border: 1px solid #f0f0f0;
  transition: box-shadow 0.2s;
  border-radius: 4px;
  padding: 0px;
  background: #fff;
  cursor: grab;
}

.card-story:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.card-journey {
  padding: 24px 24px 22px 24px;
  border: 1px solid #1C3AFF;
  border-radius: 4px;
  cursor: grab;
}

.card-journey-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3em;
  color: #1C3AFF;
  padding-bottom: 15px;
}

.card-journey-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3em;
  color: #000;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4em;
  padding-bottom: 10px;
  min-height: 55px;
}

.card-carousel-title {
  display: none;
}

.card-story-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4em;
  padding-bottom: 10px;
  min-height: 75px;
}

.story-content {
  padding: 16px 20px 10px;
}

.hero-story {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
}

.featured-carousel-logo {
  box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
  transition: box-shadow 0.2s;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

.card-featured {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
  transition: box-shadow 0.2s;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background: #fff;
  padding: 30px 20px;
  height: 370px;
}

.featured-carousel-logo:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.featured-carousel-logo:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05) !important;
}

.card-featured-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
  color: #000;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 auto;
}

.card-featured-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
  color: #696969;
}

.thumb-featured {
  height: 70px;
  display: flex;
  justify-content: center
}

.thumb-featured img {
  max-height: 70px;
}

.featured-carousel.owl-loaded {
  display: block;
}

.featured-carousel .owl-stage-outer {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden !important;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 10px;
  text-align: center !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #212121;
}

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #212121;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.owl-theme .owl-dots .owl-dot {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

.card-cta {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: fit-content;
  color: #002e67;
  font-size: 15px;
  line-height: 2.2rem;
  border: 1px solid #002e67;
  border-radius: 4px;
  margin: 0 auto;
  padding: 5px 2px 5px 10px;
  transition: all 0.2s linear !important;
}

.card-cta:hover,
.card-cta:focus,
.featured-carousel .owl-item a:hover {
  color: #fff;
  background-color: #002E67;
}

/* ––––––––––––––––– */

/* Table */

.entry-content table:not(.variations) {
  border: none;
  margin: 0 0 15px;
  text-align: left;
  width: 100%;
}

.entry-content thead th, .entry-content tr th {
  color: unset;
  font-weight: unset;
  padding: unset;
}

.entry-content tr td {
  padding: unset;
  border: unset;
}

tbody tr:nth-child(odd) {
  background-color: unset;
}

.gridTable {
  /* user-select: none; */
}

.gridTable__cell {
  padding: 8px 12px !important;
  text-align: left;
  color: #241c15;
  border-left: 1px solid #fff !important;
  width: 20%;
  font-size: 15px;
}

.gridTable__cell .label {
  display: flex;
  align-items: self-end;
  gap: 8px;
}

.gridTable tr.plans-header th {
  border: none !important;
}

.gridTable tr.plans-header td {
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
  font-weight: 500;
}

.gridTable tr.plans-header td.platinum {
  background-color: #002E67;
  color: #fff;
  border-top-left-radius: 4px;
}

.gridTable tr.plans-header td.gold {
  background-color: #eec64f;
  color: #000;
}

.gridTable tr.plans-header td.associate {
  background-color: #5dc0cc;
  color: #000;
}

.gridTable tr.plans-header td.individual {
  background-color: #b1b2b4;
  color: #000;
  border-top-right-radius: 4px;
}

.gridTable tr.plans-header td:last-of-type {
  font-weight: 500;
}

.gridTable__rowHead {
  text-align: left;
  width: 20%;
}

th.gridTable__rowHead {
  border: none !important;
  font-size: 14px;
  color: #241c15!important;
  font-weight: 500!important;
}

.gridTable__sectionHeading {
  width: 100%;
  border: 1px solid #e3e3e4;
}

.gridTable__sectionHeading.alt {
  background-color: #f5f5f5;
}

.gridTable__sectionHeading .section-head {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #241c15;
  padding: 8px 12px;
}

.gridTable__service {
  font-size: 14px;
  color: #241c15;
  /* border: 1px solid #e3e3e4; */
}

.gridTable__service.alt {
  background-color: #f5f5f5;
}

.gridTable__service:last-of-type {
  border-bottom: 1px solid #e3e3e4;
}

.gridTable__service.alt:last-of-type {
  border-bottom: 1px solid #e3e3e4;
}

tr.gridTable__service th {
  padding: 8px 12px !important;
}

tr.gridTable__service th {
  border-left: 1px solid #e3e3e4;
}

tr.gridTable__service td {
  color: #464748;
  padding: 8px 12px 2px;
  border-left: 1px solid #e3e3e4;
  font-weight: 400;
}

tr.gridTable__service td span.ico-check {
  color: #3cab3b;
  font-size: 28px;
  font-weight: 300;
  /* padding: 8px 12px 2px; */
}

tr.gridTable__service td span.ico-close {
  color: #ee4b2b;
  font-size: 28px;
  font-weight: 300;;
}

tr.gridTable__service td:last-of-type {
  border-right: 1px solid #e3e3e4;
}


/* ––––––––––––––––– */


/* Stepper */

.card-step {
  position: relative;
  margin-bottom: 24px;
  border: none;
  padding: 0;
  cursor: default;
  /* background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
}
  
.card-step:hover {
    box-shadow: none!important;
}

.step-progress {
  /* padding: 16px;
  background-color: #FAFAFA; */
  margin: 0 auto;
}

.step-progress .step-slider {
  width: 100%;
}

.step-progress .step-slider .step-slider-item {
  width: 25%;
  height: 2px;
  position: relative;
  float: left;
  background-color: #d3d3d3;
}

[data-id="stepLast"].step-slider-item {
  display: none;
}

.step-progress .step-slider .step-slider-item:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: -7px;
  right: 0;
  background-color: #fff;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.5s ease-out 0.5s;
  -webkit-transition: all 0.5s ease-out 0.5s;
}

.step-progress .step-slider .step-slider-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #002E67;
  z-index: 1;
  -webkit-transition: all 0.5s ease-out;
}

.step-progress .step-slider .step-slider-item.active:before {
  width: 100%;
  background-color: #002E67;
}

.step-progress .step-slider .step-slider-item.active:after {
  border-color: #fff;
    background-color: #002e67;
}
  
.content-step {
    display: flex;
		flex-direction: row;
		gap: 20px;
}
  
.step {
		font-size: 20rem;
    line-height: 16rem;
    font-weight: 700;
    color: #e5f5f7;    
}

.step-content {
  padding: 16px 0 0;
}
  
.step-content-body h1 {
    font-weight: 600;
    font-size: 18px;
    color: #002E67!important;
    line-height: 1.5em;
    text-align: left;
}

.step-content .step-content-foot {
  text-align: right;
}
  
.step-content img {
  width: 40%;
}
  
.cta {
    padding-top: 10px;
    display: inline-flex;
    flex-direction: row;
  	/* gap: 10px; */
    text-align: center;
}
  
.cta-button {
    width:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -10px;
    font-size: 15px;
    color: #002E67;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color .2s linear;
    cursor: pointer;
}

.cta-button:hover { 
    color: #002452;
    background-color: #f3f3f3;
} 

.step-content .step-content-foot button {
  border: 0;
  padding: 10px 30px 12px 30px;
  background-color: #f5f5f5;
  font-size: 15px;
  border-radius: 4px;
  outline: 0;
}

.step-content .step-content-foot button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.step-content .step-content-foot button.out {
  display: none;
}

.step-content .step-content-foot button.disable {
  background-color: #f5f5f5;
}

.step-content .step-content-foot button.active {
  background-color: #002E67;
  color: white;
}
  
#next {
    background-color: #fff;
		border: 1px solid #002E67;
    color: #002E67;
    /* margin-right: 10px; */
  	transition: box-shadow 0.2s;
}
#previous {
    background-color: #fff;
		border: 1px solid #ebebeb;
    color: #a8a8a8;
    margin-right: 10px;
  	transition: box-shadow 0.2s;
}
  
#finish {
    background-color: #002E67;
		border: 1px solid #002E67;
    color: white;
}
 
#next:hover, #previous:hover, #finish:hover {  
  box-shadow: 0 0 3px 0px rgba(0,0,0,0.1)!important;
}

.step-content .step-content-body {
  padding: 20px 0;
  text-align: left;
  font-size: 15px;
  line-height:1.6em;
  color: #2d2d2d;
}

.step-content .step-content-body.out {
  display: none;
}

/* ––––––––––––––––– */

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .icons {
    flex-direction: row;
  }

  .cat-browse {
    margin-left: -10px;
  }

  .cat-ico {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid-item {
    width: 100%;
    margin: 0px 0px 20px !important;
  }

  .f-cat {
    flex-direction: column;
    gap: 30px;
  }

  .badge {
    justify-content: center;
    display: flex;
  }

  .cat-logo {
    height: 20px;
    transform: scale(1.2);
  }

  /* div[data-modal="0"] .cat-logo {
    width: 233px;
  }

  div[data-modal="1"] .cat-logo {
    width: 230px;
  }

  div[data-modal="2"] .cat-logo {
    width: 180px;
  }

  div[data-modal="3"] .cat-logo {
    width: 210px;
  } */

  .cat-excerpt {
    min-height: auto;
    text-align: center;
  }

  .icons {
    width: 100%;
    justify-content: center;
  }

  .cat-ico {
    width: 60%;
  }

  .cat-browse {
    justify-content: center;
  }

  /* Modal */

  .tingle-modal {
    padding: 0;
    display: flex;
  }

  .tingle-modal__close {
    color: #002e67;
    font-weight: 400;
    line-height: 1em;
    z-index: 99999;
    background: #fff;
    line-height: 0.9em;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 20px;
    margin: 0 auto;
    left: auto;
    right: 20px;
    border-radius: 25px;
  }

  .tingle-modal__closeLabel {
    display: none;
    font-family: 'Montserrat';
    font-weight: 600;
    padding-bottom: 4px;
  }

  .tingle-modal-box {
    width: 90%;
  }

  .tingle-modal__closeIcon {
    margin: 0;
    line-height: normal;
  }

  .tingle-modal-box {
    width: 90%;
  }

  .tingle-modal-box__content {
    padding: 2rem 2rem;
  }

  .credits-modal {
    width: 100%;
    margin-bottom: 20px;
  }

  .tingle-modal img {
    width: 100%;
    margin: 6px auto 0px;
  }

  .social-modal {
    flex-direction: column;
    align-items: flex-start;
  }

  .cat-badge-modal {
    width: 100%;
    height: 30px !important;
    transform: none;
    margin-bottom: 20px;
  }

  .cat-ico-modal {
    display: none !important;
  }

  .details-modal {
    display: block;
  }

  .social-modal p.domain {
    display: none;
    /* width: auto;
    background-color: #E37B6B;
    border-radius: 16px;
    padding: 5px 15px;
    font-size: .9em;
    margin-right:0px;
    margin-bottom:0px; */
  }

  .tags-modal {
    display: none;
    /* display: inline-block; */
    padding: 20px 0 0 0;
  }

  .tingle-modal h1 {
    font-size: 20px;
  }

  .tingle-modal h2 {
    font-size: 16px;
  }

  /* .tingle-modal .bio-modal p {
    max-height: 250px;
    overflow: auto;
} */
}

@media (max-width: 480px) {
  .et_pb_section.et_pb_section_0 {
    background-size: 250% !important;
    background-position: center bottom 18% !important;
    min-height: calc(100vh - 55px);
  }

  .owl-carousel .owl-stage-outer {
    overflow: hidden !important;
  }

  .owl-stage {
    padding-left: 30px !important;
  }

  .owl-dots {
    text-align: center;
    padding-left: 30px;
  }
}