.DS_Store
images/*
welcome/*
members/*/*.html
members/*/pageData.js
!members/*/index.html
!images/.gitkeep
!social-media/images/*
node_modules
Untitled.txt
*.csv

# IDE
.idea/

# MAC
*~
.DS_Store
.eslintcache
secrets