.DS_Store
images/*
welcome/*
members/*/*.html
members/*/pageData.js
!members/*/index.html
!images/.gitkeep
!social-media/images/*
!staging/sessions/*
node_modules
Untitled.txt
*.csv

# IDE
.idea/

# MAC
*~
.DS_Store
.eslintcache
secrets
/assets/directories/showcase
/assets/directories/showcase
*.webp
directories/community/community.json
directories/community/search.js
directories/community/community.json
directories/community/search.js
