dl {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #dedede;
}

dl#venue-details {
    border-bottom: none;
    padding: 0;
    font-size: 14px;
    text-wrap: balance;
}

dd.tribe-venue {
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    color: #002E67;
    padding-bottom: 5px;
}

.event-attribute-label {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 5px;
}

#event-date .event-attribute-label::before {
    content: url(https://www.fiware.org/custom/icons/blue/website.svg);
    display: inline-block;
    width: 15px;
    margin-right: 5px;
}

#event-time .event-attribute-label::before {
    content: url(https://www.fiware.org/custom/icons/blue/website.svg);
    display: inline-block;
    width: 15px;
    margin-right: 5px;
}

#event-type .event-attribute-label::before {
    content: url(https://www.fiware.org/custom/icons/blue/website.svg);
    display: inline-block;
    width: 15px;
    margin-right: 5px;
}

#event-category .event-attribute-label::before {
    content: url(https://www.fiware.org/custom/icons/blue/website.svg);
    display: inline-block;
    width: 15px;
    margin-right: 5px;
}

#venue-details .event-attribute-label::before {
    content: url(https://www.fiware.org/custom/icons/blue/website.svg);
    display: inline-block;
    width: 15px;
    margin-right: 5px;
}

dd.event-date {
    min-width: fit-content;
    border: none;
}

dd.chip-domain {
    padding: 5px 0;
}

ul.chips {
    padding: 0;
    list-style-type: none;
}

.chip-type li {
    line-height: 15px;
}

.speakers.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    /*transform: scale(0.99);*/
}

.speakers::-webkit-scrollbar {
    display: none;
}

.speakers-container {
    width: 100%;
    padding: 0;
}

.maplibregl-map {
    border-radius: 4px;
}