/* Divi Styles */

.et_pb_section_2.et_pb_section {
  border: none!important;
  padding-bottom: 0 !important;
}

.et_pb_row_3.et_pb_row {
  padding-bottom: 0!important;
  margin-top: 40px!important;
}

/* ––––––––––– */

#event-cover img {
  border-radius: 4px;
}

dl {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

dl#event-category {
  /* max-width: 100%; */
  align-items: center!important;
}

dl#venue-name {
  border-bottom: none;
  padding: 0;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-wrap: balance;
  gap: 0;
  margin-bottom: 5px;
}

dl#venue-name a {
  color: #000;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 600;
  text-underline-position: under
}

dt.tribe-venue {
  margin-left: 10px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

dl#venue-address {
  gap: 0;
  border-bottom: none;
  font-size: 14px;
  text-wrap: balance;
}

dd.tribe-venue {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  color: #002E67;
  padding-bottom: 5px;
}

.event-attribute-label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

#event-date .event-attribute-label::before {
  content: url(https://www.fiware.org/custom/icons/black/date.svg);
  display: inline-block;
  width: 14px;
  /* margin-right: 8px; */
  vertical-align: middle;
}

#event-time .event-attribute-label::before {
  content: url(https://www.fiware.org/custom/icons/black/time.svg);
  display: inline-block;
  width: 15px;
  /* margin-right: 8px; */
  vertical-align: middle;
}

/* #event-type .event-attribute-label::before {
  content: url(https://www.fiware.org/custom/icons/black/type.svg);
  display: inline-block;
  width: 15px;
  margin-right: 5px;
}

#event-category .event-attribute-label::before {
  content: url(https://www.fiware.org/custom/icons/black/category.svg);
  display: inline-block;
  width: 15px;
  margin-right: 5px;
} */

#venue-name .event-attribute-label::before {
  content: url(https://www.fiware.org/custom/icons/black/location.svg);
  display: inline-block;
  width: 14px;
  /* margin-right: 8px; */
  vertical-align: middle;
}

dd.event-date {
  min-width: fit-content;
  border: none;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

dd.chip-domain {
  overflow: auto;
}

.speakers.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  /*transform: scale(0.99);*/
}

.speakers::-webkit-scrollbar {
  display: none;
}

.speakers-container {
  width: 100%;
  padding: 0;
}

.speaker {
  cursor: pointer;
}

.speaker-info {
  user-select: none;
}

.maplibregl-map {
  border-radius: 4px;
}

/*  Featured Events */
.card {
display: flex;
flex-direction: column;
box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
border: 1px solid #f0f0f0;
transition: box-shadow 0.2s;
border-radius: 4px;
padding: 20px 20px 10px;
background: #fff;
cursor: grab;
}

.card:hover {
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.card-title {
font-size: 1.6rem;
font-weight: 600;
line-height: 1.4em;
padding-bottom: 10px;
min-height: 55px;
}

.card-story {
display: flex;
flex-direction: column;
box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
border: 1px solid #f0f0f0;
transition: box-shadow 0.2s;
border-radius: 4px;
padding: 0px;
background: #fff;
cursor: grab;
}

.card-story:hover {
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.card-story-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4em;
  padding-bottom: 0;
}

.story-content {
padding: 12px 20px 15px;
}

.story-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 15px;
  line-height: 2.2rem;
  border-radius: 4px;
  /* transition: background-color 0.2s linear !important; */
}

/* .story-details:hover {
color: #002452;
background-color: #f3f3f3;
} */

.owl-carousel .owl-stage-outer {
position: relative;
overflow: hidden;
-webkit-transform: translate3d(0, 0, 0);
/* overflow: visible !important; */
padding: 10px 0;
}

.owl-carousel .owl-item img {
width: 100%;
height: 100%;
object-fit: contain;
object-position: 0px;
margin-left: 0px;
border-radius: 4px 4px 0 0;
}

.owl-nav {
display: none;
}

.owl-dots {
margin-top: 20px;
text-align: left !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
background: #002e67;
}

.owl-carousel .owl-item a:hover {
color: #002452;
}