/* .et_pb_sticky .et_pb_code_2 {
    padding-top: 40px!important;
} */

/* .et_pb_column .et_pb_column_1_4 .et_pb_column_4 .filtersBar .et_pb_sticky_module .et_pb_css_mix_blend_mode_passthrough .et_pb_sticky .et_pb_sticky--top {
    margin-top: 0px !important;
} */

/* WP Static Page */

.et_pb_section_3.et_pb_section {
    background-color: #fff !important;
    padding-top: 50px;
}

.et_pb_row_3 {
    background-color: rgba(255, 255, 255, 0);
}

.et_pb_row_3.et_pb_row {
    padding-top: 50px !important;
}

.et_pb_section_2.et_pb_section.stickybar .et_pb_row_3.et_pb_row {
    padding-top: 15px !important;
}

.et_pb_section_2.et_pb_section {
    background-color: rgba(255, 255, 255, .95) !important;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
}

.et_pb_section_2.et_pb_section.not-stickybar {
    border-bottom: 1px solid rgba(235, 235, 235, 0);
}

/* ––––––––––– */

.section-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 0px;
}

/* Card */

.grid-item {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    user-select: none;
    /* background: #fff;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
    border: 1px solid #f0f0f0;
    transition: box-shadow 0.4s;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px; */
}

.grid-item .moderated {
    /* background: #efefef; */
}

.grid-item.month-divider {
    margin-bottom: 50px !important;
}

.gridElementSeparator .month-divider {
    border-top: 1px solid #c6c6c6;
    width: 100%;
}

.month-divider h3 {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

/* .grid-item:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
} */

.item-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    width: calc(100% - 120px);
}

.event-date {
    min-width: 60px;
    max-width: 60px;
    border-top: 1px solid #c6c6c6;
    cursor: default;
    user-select: none;
}

.event-day {
    font-size: 20px;
    font-weight: 700;
    padding: 9px 0 3px;
    color: #000;
}

.event-month {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding-bottom: 10px;
}

.online-event {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: fit-content;
    background-color: #15a97c;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    padding: 5px 6px;
}

.online-event a,
.online-event a:hover {
    color: #fff;
}

.online-event.ongoing {
    background-color: #15a97c;
}

.online-event.future {
    background-color: #5dc0cf;
}

.online-event.past {
    background-color: #b8b5b5;
}

.online-event.recorded {
    background-color: #002E67;
}

/* .online-event:before {
    content: url(https://www.fiware.org/custom/icons/white/website.svg);
    width: 12px;
} */

.location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.city-name {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0;
    color: #696969;
}

.gridElementSeparator {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.gridElementTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    max-width: calc(50% - 20px);
}

.gridElementTextContainer a {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gridElementLogo {
    width: 50%;
}

.gutter-sizer {
    width: 0;
}

.gridElementLogo img {
    border-radius: 4px;
}

.event-title {
    padding: 0 20px;
    font-size: 17px;
    font-weight: 600;
}

.event-title a {
    color: #005fb9;
    border-bottom: 1px solid;
}

.event-title a:hover {
    color: #004586;
}

.panel-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 4px;
    height: 45px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    user-select: none;
}

.panel-info.detail {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 12px 0 20px;
    margin-top: 0;
    cursor: default;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
}

.separator-dot {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #c6c6c6;
}

.separator-dot.detail {
    width: 100%;
    height: 1px;
    border-radius: 0px;
    background-color: #c6c6c6;
}

.date-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.date {
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    color: #002452;
    padding-bottom: 0px;
}

.date.detail {
    display: flex;
    align-items: end;
    gap: 10px;
    font-size: 16px;
    color: #2d2d2d;
    padding: 0 20px;
}

.city-name h3 {
    font-weight: 600;
    text-align: left;
    color: #002e67;
    line-height: 1.4em;
    padding: 0px;
}

.flag {
    width: 32px;
    position: relative;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 20px;
}

.place {
    width: fit-content;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3em;
    color: #696969;
    padding-bottom: 0px;
}

.place.detail {
    display: flex;
    align-items: end;
    gap: 10px;
    font-size: 16px;
    color: #2d2d2d;
}

.venue {
    width: auto;
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 500;
    font-size: 16px;
    color: #005fb9;
    padding: 10px 0 0;
    transition: all 0.2s ease-in-out;
}

.venue:hover {
    color: #004586;
}

.panel-title {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    line-height: 1.3em;
    margin-bottom: 5px;
    user-select: none;
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 0;
}

.panel-title.detail {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.time {
    width: fit-content;
    align-items: center;
    color: #696969;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
}

.time.detail {
    display: flex;
    align-items: end;
    gap: 10px;
    font-size: 16px;
    color: #2d2d2d;
    padding: 0 20px;
}

.excerpt {
    font-size: 1em;
    line-height: 1em;
    color: #4c4c4c;
    user-select: none;
}

.excerpt.detail {
    font-size: 1.3em;
    line-height: 1.4em;
}

/* .grid-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
  	cursor: all-scroll;
}
  
.grid-item ul::-webkit-scrollbar {
    display: none;    
} */

.speakers.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    /*transform: scale(0.99);*/
}

.speakers::-webkit-scrollbar {
    display: none;
}

.speakers-container {
    width: 100%;
    padding: 0;
}

.moderated-by {
    width: fit-content;
    font-weight: 500;
    font-size: 11px;
    line-height: 1em;
    letter-spacing: .5px;
    color: #4c4c4c;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.speakers {
    margin-top: 10px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.speakers-gradient {
    position: absolute;
    right: calc(50% - 40px);
    height: 64px;
    margin-top: 0px;
    width: 30px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.speaker-elements {
    display: flex;
    align-items: start;
    gap: 10px
}

.speaker-type {
    color: #005fb9;
    font-size: 12px;
}

.speakers.detail {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin: 20px 0 60px;
    cursor: default;
}

.speaker {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    padding: 0;
    white-space: nowrap;
    /* border-radius: 4px;
    background-color: rgba(240, 240, 240, 0);
    transition: all 0.3s ease-in-out;
    cursor: pointer; */
}

.speaker.detail {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(240, 240, 240, 0);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.speakers.detail.summary {
    margin: 0;
}

.speaker:last-of-type {
    /* margin-right: 20px; */
}

/* .speaker:hover {
    background-color: rgba(240, 240, 240, 1);
} */

.speaker-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.profile-picture {
    width: 64px;
    min-width: 60px;
    max-width: 64px;
    height: 64px;
}

.profile-picture img {
    height: auto;
    border-radius: 50px;
    /* border: 2px solid #cce0f0; */
}

.speaker-info {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.speaker-name {
    color: #2d2d2d;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 600;
    padding: 0;
}

.speaker-name.detail {
    font-size: 15px;
}

.speaker-job-title,
.speaker-company {
    color: #696969;
    font-size: 12px;
    line-height: 1.3em;
    font-weight: 400;
    padding: 0;
}

.speaker-job-title.detail,
.speaker-company.detail {
    font-size: 14px;
}


.label-card {
    color: #2d2d2d;
    font-size: 14px;
    margin-right: 16px;
    padding-bottom: 10px !important;
}

/* .chip-technology li {
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    color: #5dc0cf;
    background-color: #e5f5f7;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    padding: 6px 12px 8px;
    margin-right: 8px;
    display: inline-block;
} */

.chip-technology li:last-of-type {
    margin-right: 40px;
}


.chip-track {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.track {
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    border-radius: 12px;
    padding: 4px 8px 5px;
    user-select: none;
}

.track.detail {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 20px;
}

.track.light-blue {
    background-color: #cce0f0;
    color: #005fb9;
}

.title-type.light-blue {
    color: #005fb9;
}

.track.cyan {
    background-color: #ddf1f4;
    color: #0891b2;
}

.title-type.cyan {
    color: #0891b2;
}

.track.light-yellow {
    background-color: #fdf6cf;
    color: #faa307;
}

.title-type.light-yellow {
    color: #faa307;
}

.track.light-green {
    background-color: #d0ede4;
    color: #108763;
}

.title-type.light-green {
    color: #108763;
}

.title-type {
    /* display: none; */
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.topic-icon {
    width: 140px;
    background-color: #8ad2dc;
    border-radius: 4px;
    float: right;
}

.topic-icon.light-blue {
    background-color: #cce0f0;
}

.topic-icon.cyan {
    background-color: #ddf1f4;
}

.topic-icon.light-yellow {
    background-color: #fdf6cf;
}

.topic-icon.light-green {
    background-color: #d0ede4;
}

.chips {
    position: relative;
    width: fit-content;
    /* height: 100vh; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 !important;
    transition: all 0.2s;
    /*transform: scale(0.98);*/
    will-change: transform;
    user-select: none;
    cursor: grab;
}

.chips.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    /*transform: scale(0.99);*/
}

.chips::-webkit-scrollbar {
    display: none;
}

.chip-domain {
    display: flex;
    /* align-items: center; */
    height: 28px;
}

.chip-domain li {
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    color: #5dc0cf;
    background-color: #e5f5f7;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    padding: 6px 12px 8px;
    margin-right: 8px;
    display: inline-block;
}

.chip-type li {
    line-height: 15px;
}

.chips-gradient {
    position: absolute;
    right: 0;
    height: 28px;
    width: 30px;
    text-align: right;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.gridElementTextContainer .chips-gradient {
    right: calc(50% - 40px);
}

/* .chip-domain li:last-of-type {
    margin-right: 40px;
} */

.chip-type {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #002E67;
}

.foot {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0px;
}

.details {
    display: flex;
    align-items: center;
    background: #002e67;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 15px;
    line-height: .7em;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.details:hover {
    background: #002452;
    color: #fff;
}

.details:any-link {
    color: #fff !important;
}

/* –––––––––––––––– */


/* Modal */

.tingle-modal {
    backdrop-filter: blur(5px);
    user-select: none;
}

.tingle-modal--visible {
    z-index: 99999;
}

.tingle-modal__close {
    color: #fff;
}

.tingle-modal-box {
    border-radius: 10px;
    background: #8ad2dc;
    width: 640px;
}

.info-modal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tingle-modal-box__footer {
    display: none;
    /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #00D7A6; */
}

.tingle-modal img {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tingle-modal p {
    color: #000;
    line-height: 1.5em;
}

.tingle-modal h1 {
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    font-size: 1.5em;
    margin: 0px auto 15px;
}

.tingle-modal h2 {
    font-weight: 500;
    font-size: 1.15em;
}

.tingle-modal h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
}

.tingle-modal .company-link {
    font-size: 16px;
    line-height: 1.5em;
    color: #000;
    text-decoration: underline;
}

.tingle-modal .company-link:hover {
    color: #000;
    text-decoration: underline;
}

/* .tingle-modal .company-link:after {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e02c";
    font-size: 20px;
    display: inline-block;
    position: relative;
    width: 32px;
    color: #000;
    text-align: center;
    margin-left: 5px;
} */

.details-modal,
.social-modal,
.tags-modal {
    display: flex;
}

.details-modal {
    margin-top: 20px;
}

.social-modal {
    margin-right: 10px;
}

.social-modal p.domain {
    display: none;
    /* background-color: #E37B6B;
  border-radius: 16px;
  padding: 5px 15px;
  font-size: .9em;
  margin-right:0px; */
}

.tags-modal p.location {
    display: none;
    /* display: flex;
    font-size: .9em;
    flex-direction: row;
    padding-top: 5px; */
}

.tags-modal .location:before {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e01d";
    font-size: 28px;
    line-height: 0.8em;
    color: #000;
    text-align: center;
    margin-right: 3px;
}

.twitter-link::before {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e094";
    font-size: 16px;
    display: inline-block;
    position: relative;
    /* background: #00aced; */
    border: solid 1px #000;
    border-radius: 40px;
    width: 32px;
    height: 32px;
    color: #000;
    text-align: center;
    padding-left: 1px;
    padding-top: 5px;
}

.twitter-link {
    position: relative;
    width: 32px;
    margin-right: 12px;
}

.linkedin-link::before {
    font-family: "ETmodules";
    font-weight: 400;
    content: "\e09d";
    font-size: 16px;
    display: inline-block;
    position: relative;
    /* background: #007bb6; */
    border: solid 1px #000;
    border-radius: 40px;
    width: 32px;
    height: 32px;
    color: #000;
    text-align: center;
    padding-right: 0px;
    padding-top: 4px;
}

.linkedin-link {
    position: relative;
    width: 32px;
    margin-right: 12px;
}

.tingle-modal .bio-modal p {
    max-height: 110px;
    overflow: auto;
}

.tingle-modal .bio-modal p::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.tingle-modal .bio-modal p::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.tingle-modal .bio-modal p::-webkit-scrollbar-thumb {
    background-color: #005FB9;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid transparent;
    /* creates padding around scroll thumb */
}

.tingle-modal .bio-modal p {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: #c7e9ee transparent;
    /* scroll thumb and track */
}

/* –––––––––––––––– */


/* Search & Filtering */

.title-filter {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.featured,
.title-icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.title-icon h3 {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #002E67 !important;
    line-height: 1.5em;
    text-align: left;
    padding-bottom: 0px;
}

.showFilters {
    display: flex;
    align-items: flex-end;
    color: #696969;
}

.category-badge {
    width: auto;
    height: 20px;
    transform: scale(1.2) translate(8%, 0%);
    margin-bottom: 20px;
}

.not-stickybar {
    position: relative !important;
}

.stickybar {
    top: 42px;
    position: fixed !important;
    z-index: 100;
}

/* Products record */

.products-record {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    color: #002e67;
    width: 100%;
    padding: 30px 0 15px;
    margin-bottom: 20px;
    /* border-top: 1px solid #aaa; */
    border-bottom: 1px solid #aaa;
}

.products-label {
    display: flex;
    align-items: flex-end;
    font-size: 15px;
}

#filteredCompanies {
    font-size: 2.2rem;
    line-height: 1em;
}


/* Toggle View */

.toggle-views {
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    width: 140px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.btn-toggle-view {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-size: 14px;
    text-align: center;
    color: #c6c6c6;
}

input[type=radio].toggle {
    display: none;
}

input[type=radio].toggle+label {
    cursor: pointer;
}

input[type=radio].toggle+label:hover {
    background: none;
}

input[type=radio].toggle+label:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
}

input[type=radio].toggle.toggle-left+label {
    border-right: 1px solid #c6c6c6;
}

input[type=radio].toggle.toggle-left+label:after {
    left: 100%;
}

/* input[type=radio].toggle.toggle-right+label {
    margin-left: -5px;
} */

input[type=radio].toggle.toggle-right+label:after {
    left: -100%;
}

input[type=radio].toggle:checked+label {
    cursor: default;
    color: #002452;
    transition: color 200ms;
}

input[type=radio].toggle:checked+label:after {
    left: 0;
}

/* Filters */

.filters-container {
    transition: height .5s ease;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.filters-container:not(.active) {
    display: none;
}

.show {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
}

/* Filter list */

.filter-by {
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 600;
    color: #4c4c4c;
    text-transform: uppercase;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #aaa;
    width: 100%;
}

.filters-dropdown {
    display: flex;
    flex-direction: row;
    gap: 20px
}


/* Custom select */

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #fafafa;
    background-image: url(https://www.fiware.org/custom/icons/grey/arrow-down.svg);
    background-size: 10%;
    background-position: 94%;
    background-repeat: no-repeat;
}

select::-ms-expand {
    display: none;
}

.filter-element {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.sort-single-element {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-element select,
.sort-single-element select {
    min-width: 156px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    color: #696969;
    cursor: pointer;
    font-weight: 500;
    padding: 8px 32px 8px 10px;
    font-size: 14px;
}

.filter-element select:active,
.filter-element select:focus {
    border: 1px solid #002e67;
    color: #002e67;
    box-shadow: none;
    background-image: url(https://www.fiware.org/custom/icons/blue/arrow-down.svg);
}

.dropdown-last {
    margin-bottom: 15px !important;
}

/* Custom Button */

.filter-element button,
.sort-single-element button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.filter-element button:hover,
.sort-single-element button:hover {
    background: #d2eef1;
}

.filter-element button.active,
.sort-single-element button.active {
    background: #002e67;
    color: #fff !important;
}

#orderByYear {
    color: #002e67;
}

#orderByName {
    color: #002e67;
}

#orderByCountry {
    color: #002e67;
}

#orderByDomain {
    color: #002e67;
}


/* Custom Checkbox */

.filter-element label,
.search-element label,
.sort-single-element label {
    display: none;
    font-size: 14px;
    color: #002e67;
}

.filters-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#member {
    margin: 10px 10px 10px 0px;
}

input[type="checkbox"] {
    line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"]+label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    vertical-align: -26%;
    height: 1.4em;
    width: 1.4em;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 2px;
}

input[type="checkbox"]:checked+label::after {
    content: "";
    display: inline-block;
    position: absolute;
    vertical-align: -20%;
    height: 0.6em;
    width: 0.9em;
    border: #002e67 solid;
    border-width: 3px 3px 0px 0px;
    top: 3px;
    left: 5px;
    transform: rotateZ(130deg);
}

.sort-by {
    font-size: 13px !important;
    font-weight: 600;
    color: #4c4c4c !important;
    text-transform: uppercase;
    padding-right: 10px;
}

.sort-buttons {
    display: flex;
    gap: 10px;
}

.sort-element {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: space-between;
    align-items: center;
}

.sort-element label {
    font-size: 14px;
    color: #002e67;
}


/* Search */

.search-sort-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
}

.empty-container {
    width: 140px;
}

.search-element {
    position: relative;
    width: 516px;
}

.resetInput {
    opacity: 0;
    background-image: url(https://www.fiware.org/wp-content/uploads/ico_clear_blue.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    pointer-events: none;
    position: absolute;
    top: 10px;
    right: 8px;
    width: 20px;
    height: 20px;
    transition: all 200ms;
}

.resetInput:hover {
    cursor: pointer;
}

.resetActive .resetInput {
    opacity: 1;
    pointer-events: all;
}

#searchInput {
    width: 516px;
}

input[type="search"] {
    box-sizing: border-box;
    background-image: url(https://www.fiware.org/custom/icons/blue/search.svg);
    background-position: 2%;
    background-size: 4%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.3em;
    padding: 9px 12px 8px 38px !important;
    font-size: 15px !important;
}

input[type="search"]:active,
input[type="search"]:focus {
    border: 1px solid #000;
    color: #000;
    box-shadow: none;
}

input[type="search"]::placeholder {
    color: #696969;
}

/* Icons */

.icon {
    font-weight: 300;
}

.icon.cta {
    font-size: 48px;
    font-weight: 200;
    color: #005fb9;
}

.icon.cta.small {
    font-size: 24px;
    line-height: .5em;
    font-weight: 300;
    padding-top: 3px;
}

.icon-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#ico-sortby-alpha {
    margin-right: 8px;
}

#ico-sortby-year {
    margin-right: 8px;
}

#ico-filter-all {
    margin-left: 0.2rem;
    margin-right: 10px;
    font-size: 20px;
}

#ico-products {
    margin-right: 8px;
}

#ico-info {
    margin-right: 8px;
}

.session-picture {
    width: 60px;
    margin: auto;
    border-radius: 4px;
    float: left;
}

.session-picture img {
    width: 100%;
}

.session-picture.light-blue {
    background-color: #cce0f0;
    color: #005fb9;
    border-color: #005fb9;
}

.session-picture.light-yellow {
    background-color: #f3f3de;
    color: #5c5c00;
    border-color: #5c5c00;
}

.session-picture.light-green {
    background-color: #b8e5d7;
    color: #1b493a;
    border-color: #1b493a;
}

/* #ico-filtersbar {
    margin-right: 8px;
    color: #8ad2dc;
} */

/* –––––––––––––––– */

@media screen and (max-width: 1140px) {
    .panel-info {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        gap: 5px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 1024px) {


    .et_pb_section_3.et_pb_section {
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
    }

    .item-container {
        flex-direction: column-reverse;
        /* width: 100%; */
        gap: 20px;
    }

    .gridElementTextContainer {
        width: 100%;
        max-width: none;
    }

    .gridElementLogo {
        width: 100%;
    }

    .panel-info {
        flex-direction: row;
        align-items: center;
        height: 45px;
    }
}

@media screen and (max-width: 767px) {

    /* Modal */

    .tingle-modal__close {
        color: #000;
        font-weight: 400;
        line-height: 1em;
    }

    .tingle-modal__close {
        top: 5vw;
        right: 5vw;
        z-index: 99999;
        background: #8ad2dc;
        line-height: 0.9em;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1) !important;
    }

    .tingle-modal-box {
        width: 90%;
    }

    .tingle-modal-box__content {
        padding: 2rem 2rem;
    }

    .credits-modal {
        width: 100%;
    }

    .tingle-modal img {
        display: none;
    }

    .details-modal {
        display: block;
    }

    .social-modal p.domain {
        display: none;
        /* width: auto;
    background-color: #E37B6B;
    border-radius: 16px;
    padding: 5px 15px;
    font-size: .9em;
    margin-right:0px;
    margin-bottom:0px; */
    }

    .tags-modal {
        display: none;
        /* display: inline-block; */
        padding: 20px 0 0 0;
    }

    .tags-modal p.location {
        display: none;
        /*display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-right: 20px;
    padding-top: 0px; */
    }

    .tags-modal .location:before {
        width: 32px;
        margin-right: 10px;
    }

    .tingle-modal h1 {
        font-size: 20px;
    }

    .tingle-modal h2 {
        font-size: 16px;
    }

    .company {
        font-size: 16px;
        line-height: 0.8em;
    }

    .tingle-modal .bio-modal p {
        max-height: 250px;
        overflow: auto;
    }
}

@media only screen and (max-width: 480px) {

    /* .et_pb_sticky .et_pb_code_2 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
} */

    /* Card */

    .grid {
        width: 100%;
        margin: 0 auto;
    }

    .grid-item {
        width: 100%;
        padding: 0px;
        margin: 20px auto;
        position: relative;
        gap: 20px;
    }

    .item-container {
        width: calc(100% - 80px);
    }

    .grid-item ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .grid-item ul::-webkit-scrollbar {
        display: none;
    }

    .gridElementTechnologyDomain {
        width: 100%;
        padding: 0px 0px 16px 20px;
    }

    .chip-domain li {
        display: inline-block;
    }

    .chip-technology li {
        display: inline-block;
    }

    /* .gridElementLogo {
        padding: 30px 20px 20px;
    } */

    /* .grid-item img {
    width: 140px;
    margin: 0px 0px 20px;
    } */

    .gridElementTextContainer {
        width: 100%;
        margin-bottom: 40px;
        /* padding: 20px; */
    }

    .solution-name {
        font-size: 1.8rem;
        line-height: 1.3em;
    }

    .topic-icon {
        width: 60px !important;
        margin: 0px !important;
    }

    .chip-track.detail {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .track.detail {
        font-size: 15px;
        padding: 5px 12px 6px;
    }

    .panel-title {
        font-size: 16px;
    }

    .panel-title.detail {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .excerpt {
        font-size: 15px;
    }

    .excerpt.detail {
        font-size: 16px;
        line-height: 1.3em;
    }

    .panel-info {
        height: auto;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        margin-top: 0;
        padding: 5px 0 10px;
    }

    .location-container {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .date-time .separator-dot {
        display: block;
    }

    .time {
        padding-top: 5px;
    }

    .separator-dot {
        display: none;
    }

    .separator-dot.detail {
        display: block;
    }

    .venue {
        font-size: 15px;
        padding: 5px 0 0;
    }

    .online-event {
        font-size: 11px;
        padding: 4px;
    }

    .speakers {
        gap: 20px;
    }

    .speakers-gradient {
        right: 0;
    }

    .speakers.detail {
        white-space: normal;
        gap: 15px;
        margin: 30px 0;
    }

    .speaker {
        width: fit-content;
        padding: 0;
    }

    .speaker:hover {
        background-color: rgba(240, 240, 240, 0);
    }

    /* .speaker-data {
        align-items: flex-start;
    } */

    .speaker.detail {
        padding: 0;
    }

    .speaker:last-of-type {
        /* margin-right: 20px!important; */
    }

    .speaker-info {
        width: auto;
    }

    .speaker-name.detail {
        font-size: 15px;
    }

    .speaker-job-title.detail,
    .speaker-company.detail {
        font-size: 13px;
    }

    .chips-gradient {
        margin-top: 30px;
    }

    .gridElementTextContainer .chips-gradient {
        right: 0;
        margin-top: 0;
    }

    .gridElementTextContainer .chip-domain {
        margin: 2px 0 5px;
    }

    .cta-container {
        justify-content: space-between;
    }

    /* .label-card {
    margin-bottom: 8px;
} */

    /* Search & Filtering */

    .stickybar {
        top: 56px;
    }

    .et_pb_section_2.et_pb_section.stickybar .et_pb_row_3.et_pb_row {
        padding: 0 !important;
    }

    .et_pb_row_3.et_pb_row {
        padding: 0 !important;
    }

    .showFilters {
        display: flex;
        /* align-items: flex-end; */
    }

    .filtersBar {
        width: 100% !important;
        left: 0px !important;
    }

    /* Toggle Open Close Filters */

    #mobileToggleFilters {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding: 10px 0px;
    }

    #filter-button-text {
        font-size: 15px;
        font-weight: 600;
    }

    .filters-container {
        transition: height .5s ease;
        overflow: hidden;
        /* padding-top: 10px;
        border-top: 1px solid #aaa; */
        gap: 15px;
        margin: 0 0 20px;
        height: auto !important;
    }

    .filters-container:not(.active) {
        display: none;
    }

    .ico-filter-container {
        display: flex;
        align-items: center;
        gap: 3px;
        color: #ffffff;
        font-size: 16px;
        line-height: 1em;
    }

    .event-count-container {
        display: none;
    }

    .event-count-container.mobile {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        border-top: 0px solid #8ad2dc;
        border-bottom: 0px solid #8ad2dc;
        float: right;
        user-select: none;
    }

    .date-picker {
        justify-content: flex-end;
    }

    /* Search */

    .show {
        gap: 15px;
    }

    .toggle-views {
        margin: 0 auto;
    }

    .search-sort-container {
        flex-direction: column-reverse;
        width: -webkit-fill-available;
        gap: 15px;
        padding-top: 10px;
    }

    .search-element {
        width: auto;
    }

    #searchInput {
        width: 100%;
    }

    input[type="search"] {
        background-position: 3%;
    }

    .empty-container {
        display: none;
    }

    /* Filtering */

    .category-badge {
        margin-top: 20px;
    }

    .products-record {
        width: auto;
    }

    .filter-by {
        width: auto;
    }

    select {
        background-size: 5%;
        background-position: 96%;
    }

    .filter-element select {
        width: 100%;
    }

    /* .filter-element:last-of-type {
        margin-bottom: 20px;
    } */

    .filters-checkbox {
        display: flex;
        flex-direction: row;
    }

    .filters-checkbox .filter-element:last-of-type {
        margin-bottom: 0px;
    }

    .dropdown-container {
        flex-direction: column;
        gap: 15px;
    }

    .dropdown-label {
        display: none;
    }

    #member {
        margin: 15px 15px 15px 0px;
    }

    #filter-last {
        width: 100%;
    }

    .sort-element {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        justify-content: space-evenly;
    }

    #orderByYear {
        margin-right: 12px;
    }

}