{{#each this}}
<div class="grid-item {{createClass company}} {{createClass country}} {{createClass department}} {{createClass job}} {{createClass domain}}">
	<div class="f-cat active">
		<img class="city-photo" src="{{img}}" />
		<div class="profile-details">
			<h6 class="name">{{name}}</h6>
			<h4 class="position">{{job}}</h4>
			<a target="_blank" href="{{website}}" rel="noopener">
				<h5 class="company-link">{{company}}</h5>
			</a>
			{{#if department}}
			<div class="department">{{department}}</div>
			{{/if}}
			{{#if domain}}
			<div class="chip-domain">{{domain}}</div>
			{{/if}}
		</div>
		<div class="icons">
			{{#if bio}}
			<div class="cat-bio" data-modal="{{@index}}"><span class="icon bio"></span></a></div>
			{{/if}}
			{{#if twitter}}
			<a class="cat-twitter" target="_blank" href="{{twitter}}" rel="noopener"><span class="icon twitter"></span></a>
			{{/if}}
			{{#if linkedIn}}
			<a class="cat-linkedin" target="_blank" href="{{linkedIn}}" rel="noopener"><span class="icon linkedin"></span></a>
			{{/if}}
			<div class="cat-location"><span class="location-label">{{country}}</span><img class="flag" src="{{flag}}" /></div>
		</div>
	</div>
</div>
{{/each}}
<script>
var modalData = [
	{{#each this}}
    {
    name: "{{name}}",
    img: "{{img}}",
    position: "{{job}}",
    company: "{{company}}",
    "company-link": "{{website}}",
    content:
      "{{bio}}",
    linkedin: "{{linkedIn}}",
    twitter: "{{twitter}}",
  	},
	{{/each}}
 ];
</script>