var companies = [
  {{#each companies}}
    '{{this}}',
  {{/each}}
];
var departments = [
  {{#each departments}}
   '{{this}}',
  {{/each}}
];
var domains = [
  {{#each domains}}
   '{{this}}',
  {{/each}}
];
var titles = [
  {{#each titles}}
   '{{this}}',
  {{/each}}
];
var countries = [
  {{#each countries}}
   '{{this}}',
  {{/each}}
];


var modalData = [
	{{#each people}}
    {
    name: "{{name}}",
    img: "{{img}}",
    position: "{{job}}",
    company: "{{company}}",
    "company-link": "{{website}}",
    content:
      "{{bio}}",
    linkedin: "{{linkedIn}}",
    twitter: "{{twitter}}",
  	},
	{{/each}}
 ];